/* TEXT */

/* Custom Font Families */
@font-face {
    font-family: "Inconsolata";
    src: url(./Inconsolata/static/Inconsolata/Inconsolata-Light.ttf);
}


/* Headings */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-family: "Inconsolata";
    font-size: 13pt;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}


/* Default Paragraph */
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    font-weight: lighter;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: .16mm;
    text-justify: inter-word;
    margin-right: 25%;
    margin-left: 25%;
}

/* Paragraph title */
.title {

    font-family: "Inconsolata";
    font-size: 11pt;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: .2mm;
    margin-right: 25%;
    margin-left: 25%;

}

/* Class Fonts */
.Grantha {
    font-family: "Grantha";
}

.Inconsolata {
    font-family: "Inconsolata";
    letter-spacing: .1mm;

}

.Courier {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .08mm;

}


/* block quote */
.quote {
    display: block;
    margin-left: 30%;
    line-height: 1.1;
}


/* MENUS AND BUTTONS */

/* Directory Items */
.nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9.5pt;
}
/* Link Hover */
a:link {
    align-items: center;
    color: slategray;
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    align-items: center;
    color: rgb(109, 110, 110);
    text-decoration: none;
}

a:hover {
    align-items: center;
    color: rgb(230, 65, 0);
    text-decoration: none;
}

/*SCROLLING COLUMN
/* two independently scrolling columns*/

#content, html, body {
    height: 70%;
    box-sizing: content-box;
}
#left {
    float: left;
    width: 60%;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 30%;
    height: 100%;
    margin-right: 10%;
    overflow: scroll;

}
/* one scrolling column*/
#center {
    float: left;
    width: 100%;
    height: 100%;
    overflow: scroll;
}